# Copyright 2019-2026 Chris Croome
#
# This file is part of the Webarchitects Ansible role.
#
# The Webarchitects Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Bash tasks
  block:

    - name: Bash completion in place
      block:

        - name: Root tasks
          block:

            - name: Bash completion present using argcomplete present system-wide
              ansible.builtin.command: "{{ ans_argcomplete_path }}"
              args:
                creates: "{{ ans_argcomplete_root_path }}"
              when:
                - ans_argcomplete_root_path is defined
                - ans_argcomplete_root_path | length > 0

            - name: Bash completion for pipx generated using argcomplete
              ansible.builtin.shell: "{{ ans_argcomplete_register_path }} pipx > /root/pipx-completion.sh"
              args:
                creates: /root/pipx-completion.sh
                executable: "{{ ans_bash }}"
              environment: "{{ ans_pipx_root_env }}"
              when: ans_argcomplete_register_path is defined

            - name: Stat Bash completion for pipx
              ansible.builtin.stat:
                path: "/root/pipx-completion.sh"
              register: ans_pipx_completion

            - name: System-wide Bash completion for pipx in place
              ansible.builtin.copy:
                src: /root/pipx-completion.sh
                dest: /etc/bash_completion.d/pipx-completion.sh
                mode: "0644"
                remote_src: true
                validate: bash -n %s
              when: ans_pipx_completion.stat.exists | bool

          when: ansible_facts.effective_user_id == 0

        - name: Non-root tasks
          block:

            - name: Bash completion present using argcomplete present locally
              ansible.builtin.command: "{{ ans_argcomplete_path }} --user"
              args:
                creates: "{{ ans_argcomplete_user_path }}"
              when:
                - ans_argcomplete_user_path is defined
                - ans_argcomplete_user_path | length > 0

            - name: Path for pipx TMPDIR present
              ansible.builtin.file:
                path: "{{ ansible_facts.env.HOME }}/.local/pipx/tmp"
                state: directory
                mode: "0700"

            - name: Users ~/.bash_completion.d directory present
              ansible.builtin.file:
                path: "{{ ansible_facts.env.HOME }}/.bash_completion.d"
                state: directory
                mode: "0700"

            - name: Bash completion for pipx generated using argcomplete
              ansible.builtin.shell: "{{ ans_argcomplete_register_path }} pipx > {{ ansible_facts.env.HOME }}/.local/pipx/tmp/pipx-completion.sh"
              args:
                creates: "{{ ansible_facts.env.HOME }}/.local/pipx/tmp/pipx-completion.sh"
                executable: "{{ ans_bash }}"
              environment: "{{ ans_pipx_user_env }}"
              when: ans_argcomplete_register_path is defined

            - name: Stat Bash completion for pipx
              ansible.builtin.stat:
                path: "{{ ansible_facts.env.HOME }}/.local/pipx/tmp/pipx-completion.sh"
              register: ans_pipx_completion

            - name: User Bash completion for pipx in place
              ansible.builtin.copy:
                src: "{{ ansible_facts.env.HOME }}/.local/pipx/tmp/pipx-completion.sh"
                dest: "{{ ansible_facts.env.HOME }}/.bash_completion.d/pipx-completion.sh"
                mode: "0644"
                remote_src: true
                validate: bash -n %s
              when: ans_pipx_completion.stat.exists | bool

          when: ansible_facts.effective_user_id != 0

      when:
        - ansible_facts.env.SHELL is defined
        - ansible_facts.env.SHELL is regex('bash$')
        - ans_argcomplete_path is defined
        - ans_argcomplete_path | length > 0

    - name: Check PATH and configure ~/.bash_profile when not root
      block:

        - name: File ~/.bash_profile present
          ansible.builtin.copy:
            src: bash_profile.sh
            dest: ~/.bash_profile
            force: false
            mode: "0640"
          register: ans_bash_profile_copied
          when: not ans_bash_profile.stat.exists | bool

        - name: Suggest checking that ~/.local/bin is in the PATH environmental variable
          ansible.builtin.debug:
            msg:
              - "Please check that {{ ans_local_path }} is in your PATH environmental variable"
              - "For example add the following two lines to ~/.bash_profile"
              - "PATH={{ ansible_facts.env.HOME }}/.local/bin:${PATH}"
              - "export PATH=${PATH}"
          when:
            - not ans_bash_profile_copied.changed | bool
            - ans_local_path not in ans_paths

      when:
        - ans_paths is defined
        - ans_local_path is defined
        - ans_local_path not in ans_paths
        - ansible_facts.effective_user_id != 0

  tags:
    - ansible
...
