# Copyright 2019-2026 Chris Croome
#
# This file is part of the Webarchitects Ansible role.
#
# The Webarchitects Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Skip the tasks in this role as ans is false
  ansible.builtin.debug:
    msg: "The ans variable need to be true for the tasks in this role to run."
  when: not ans | bool
  tags:
    - ansible

- name: Ansible tasks
  block:

    - name: Ansible include verify tasks
      ansible.builtin.include_tasks: verify.yml
      when:
        - ans_verify | bool
        - ansible_version.full is version('2.11', 'ge')

    - name: Linux distribution check and requirements present
      block:

        - name: "This role has only been designed to be run on {{ ans_distros | join(', ') }}"
          ansible.builtin.assert:
            that:
              - ansible_facts.distribution is regex('^Debian|Ubuntu$')
              - ansible_facts.distribution_release in ans_distros
            quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
            fail_msg: "This role doesn't have support for {{ ansible_facts.distribution }} {{ ansible_facts.distribution_release }}."

        - name: Debug ans_pkgs
          ansible.builtin.debug:
            var: ans_pkgs
            verbosity: "{% if ansible_check_mode | bool %}0{% else %}1{% endif %}"
          tags:
            - debug

        - name: Debug ans_pkgs_present
          ansible.builtin.debug:
            var: ans_pkgs_present
            verbosity: "{% if ansible_check_mode | bool %}0{% else %}1{% endif %}"
          tags:
            - debug

        - name: Update apt cache and install packages when root

            - name: Update apt cache
              ansible.builtin.apt:
                update_cache: true
              check_mode: false
              changed_when: false

            - name: Requirements present
              ansible.builtin.apt:
                pkg: "{{ ans_pkgs_present }}"
                state: present

          when: ansible_facts.effective_user_id == 0

      when: ans_distro_check | bool

    - name: Check variables
      ansible.builtin.include_tasks: checks.yml

    - name: PyPI packages configured using pipx
      ansible.builtin.include_tasks: pipx.yml

    - name: Ansible Collection tasks
      block:

        - name: Debug existing Ansible collections
          ansible.builtin.debug:
            var: ans_col_existing
            verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
          tags:
            - debug

        - name: Debug existing and proposed Ansible collections
          ansible.builtin.debug:
            msg:
              - "ans_col.name {{ ans_col.name }}"
              - "ans_col.version {{ ans_col.version }}"
              - "ans_col_version_present {{ ans_col_existing | community.general.json_query(ans_col_jmespath_query) }}"
            verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
          vars:
            ans_col_jmespath_query: "[?name=='{{ ans_col.name }}'].version|[0]"
          loop: "{{ ans_cols }}"
          loop_control:
            loop_var: ans_col
            label: "{{ ans_col.name }}"
          tags:
            - debug

        - name: Install Ansible collections when not already available as system or user collections
          ansible.builtin.include_tasks: col.yml
          # vars:
          #   ans_col_jmespath_query: "[?name=='{{ ans_col.name }}'].version|[0]"
          loop: "{{ ans_cols }}"
          loop_control:
            loop_var: ans_col
            label: "{{ ans_col.name }}"
          # when: >-
          #   ( ( ansible_verbosity > 0 ) or ( ansible_check_mode | bool ) ) and
          #   ( ( ans_col.version == "latest" ) or
          #   ( ( ans_col.version != ans_col_existing | community.general.json_query(ans_col_jmespath_query) )

      when:
        - ans_cols is defined
        - ans_cols != []

    - name: Include the Bash PATH and python-argcomplete tasks when the init system is not sh
      ansible.builtin.include_tasks: bash.yml
      when: ans_init is not regex('^b?a?sh$')

  when: ans
  tags:
    - ansible
...
