# Copyright 2019-2026 Chris Croome
#
# This file is part of the Webarchitects Ansible role.
#
# The Webarchitects Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Check PyPI package info
  block:

    - name: Get the list of available PyPI package versions in a block in case a rescue is needed
      block:

        - name: "Get a list of available PyPi versions for {{ ans_pypi_pkg.name }}"
          ansible.builtin.uri:
            url: "{{ ans_pypi_pkg.url }}/json/"
            method: GET
            return_content: true
          check_mode: false
          retries: "{{ ans_download.retries }}"
          delay: "{{ ans_download.delay }}"
          changed_when: false
          register: ans_pypi

      rescue:

        - name: "Debug the outcome of the available PyPi versions check for {{ ans_pypi_pkg.name }}"
          ansible.builtin.debug:
            var: ans_pypi.msg
            verbosity: 1
          when: ans_pypi.status == -1

        - name: Fail if the GET request failure didn't occur when running the minimum Ansible version
          ansible.builtin.fail:
          when: ans_core_installed_version is version(ans_ansible_core_min_version, '>')

        - name: "Get a list of available PyPi versions without validating certificates when using the minimum Ansible version for {{ ans_pypi_pkg.name }}"
          ansible.builtin.uri:
            url: "{{ ans_pypi_pkg.url }}/json"
            method: GET
            return_content: true
            validate_certs: false
          check_mode: false
          changed_when: false
          register: ans_pypi
          when: ans_core_installed_version == ans_ansible_core_min_version

    - name: "Debug available PyPi versions for {{ ans_pypi_pkg.name }}"
      ansible.builtin.debug:
        var: ans_pypi.json.releases
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}2{% else %}3{% endif %}"
      tags:
        - debug

    - name: "Create an array of the PyPi versions available and set a variable for the latest version for {{ ans_pypi_pkg.name }}"
      ansible.builtin.set_fact:
        ans_pypi_versions_available: "{{ ans_pypi.json.releases.keys() }}"
        ans_pypi_version_latest: "{{ ans_pypi.json.info.version }}"

    - name: Set facts when PyPi is not set to be absent
      block:

        - name: "Set a fact for the PyPi version required for {{ ans_pypi_pkg.name }}"
          ansible.builtin.set_fact:
            ans_pypi_version_required: "{% if ans_pypi_pkg.version == 'latest' %}{{ ans_pypi_version_latest }}{% else %}{{ ans_pypi_pkg.version }}{% endif %}"

        - name: "Check that that the required PyPi version is available via PyPi for {{ ans_pypi_pkg.name }}"
          ansible.builtin.assert:
            that:
              - ans_pypi_version_required in ans_pypi_versions_available
            quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"

      when: >-
        ( ans_pypi_pkg.version is defined ) and
        ( ( ans_pypi_pkg.state is not defined ) or
        ( ( ans_pypi_pkg.state is defined ) and
        ( ans_pypi_pkg.state != "absent" ) ) )

  tags:
    - ans
...
