# {{ ansible_managed }}
{% if distro == 'stretch' %}
deb https://deb.debian.org/debian {{ distro }} main
deb https://deb.debian.org/debian-security {{ distro }}/updates main
{% elif distro == 'jessie' or distro == 'wheezy' %}
deb http://ftp.uk.debian.org/debian/ {{ distro }} main contrib non-free
deb http://ftp.uk.debian.org/debian/ {{ distro }}-backports main contrib non-free
deb http://security.debian.org/ {{ distro }}/updates main contrib non-free
{% endif %} 
